@page
@model IndexModel
@{
    ViewData["Title"] = "Home";
}

<div class="">
    <div class="container">
        
        <table class="table table-hover table-success table-bordered">
            <tbody>
            <tr>
                <th class="text-center">
                    Menú
                </th>
            </tr>
            </tbody>
        </table>

        <div class="row">
            <div class="col-sm-4">
                <div class="card bg-light">
                    <div class="card-body">
                        <a asp-page="/Users/Index" class="btn btn-primary btn-block">Usuarios <i class="fas fa-long-arrow-alt-right"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="card bg-light">
                    <div class="card-body">
                        <a asp-page="/Roles/Index" class="btn btn-primary btn-block">Roles <i class="fas fa-long-arrow-alt-right"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="card bg-light">
                    <div class="card-body">
                        <a asp-page="/RoleUsers/Index" class="btn btn-primary btn-block">Asignaciones <i class="fas fa-long-arrow-alt-right"></i></a>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
