@page
@model dimabeCRUD.Pages.RoleUsers.DeleteModel

@{
    ViewData["Title"] = "Borrar";
}

<h1>Borrar</h1>

<h3>¿Estás de acuerdo borrando esta entrada?</h3>
<div>
    <h4>Roles de Usuario</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.RoleUser.Role)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.RoleUser.Role.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.RoleUser.User)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.RoleUser.User.FullName)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="RoleUser.Id" />
        <button type="submit" class="btn btn-danger"><i class="far fa-trash-alt"></i> BORRAR</button>
        <a class="btn btn-success" asp-page="./Index"><i class="fas fa-undo-alt"></i> CANCELAR</a>
    </form>
</div>
